
<!-- Footer -->
<footer class="page-footer font-small teal mainFooter">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mt-md-0 mt-3">
  
          <!-- Content -->
          <h2 class="text-uppercase font-weight-bold">About Us</h2>
          <p>At KoolSmartLearning, we intend to harness the power of online education to make learning easy.
               We provide a stepping stone for the students to achieve the goals they envision.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Content -->
          <h2 class="text-uppercase font-weight-bold">WHAT’S NEXT?</h2>
          <p>Our journey in providing online learning started with a few MATHS videos. We grew to 150+ Maths videos 
            and expanded our horizon and today we pioneer in providing Answer Keys and solutions for the prestigious
            Aryabhatta exam held for Class 5, 8 & 11.<br> We continue to spread our wings and we have now started adding
            videos on new domain of Mental Ability (MAT).<br>
            Don’t forget to subscribe to our Youtube channel and Facebook Page for regular
            updates.</p>
  
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Content -->
          <h2 class="text-uppercase font-weight-bold">QUOTES</h2>
          <p>“Excellence is a continuous process and not an accident.”<br>
            <span style="color: #ffcc00"><i>– A. P. J. Abdul Kalam</i></span></p>
            <p>“Learning never exhausts the mind.”<br>
                <span style="color: #ffcc00"><i>– Leonardo da Vinci</i></span></p>
            <p>“Develop a passion for learning. If you do, you will never cease to grow.”<br>
                <span style="color: #ffcc00"><i>– Anthony J. D’Angelo</i></span></p>
                      
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Content -->
          <h2 class="text-uppercase font-weight-bold">CONTACT US</h2>
          <p>Ritu Gupta​ <br>
            ritu.gupta@koolsmartlearning.com.</p>
            <p>Copyright Ritu Gupta.<br>
                All Rights Reserved.</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
   
  
  </footer>
  <!-- Footer -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
