<!DOCTYPE html> 
<html lang="en"> 
<head> 
<title>Bootstrap Example</title> 
<meta charset="utf-8"> 
<meta name="viewport"
content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/styles.css">
</head> 
<body> 
    <nav class="navbar navbar-light py-md-3">
        <a class="navbar-brand" style="height: 140px;" href="/">
          <img src="https://www.koolsmartlearning.com/wp-content/uploads/2018/10/KSLLogoPng.png" width="50%" height="100%" alt="">
        </a>
      </nav>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" id="mainNavbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">HOME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  COURSES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="maths-by-class">Maths By Class</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="maths-by-topic">Maths By Topic</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="mental-ability">Mental Ability</a>
                </div>
              </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ARYABHATTA
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/aryabhatta-videos">Aryabhatta Videos</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/keys-and-solutions">Solutions & Keys</a>
              </div>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/tips-and-tricks">TIPS & TRICKS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-us">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/our-experts">OUR EXPERTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/testimonials">TESTIMONIALS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact-us">CONTACT US</a>
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>
  
 