<%- include('partials/header') %>

<div class="jumbotron jumbotron-fluid heading-container">
    <div class="container-fluid">
        <h1>ABOUT US</h1>
    </div>
</div>

<div class="wrapper">
    <div class="content">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6">
                    <div style="padding: 5%;">
                        <img src="https://www.koolsmartlearning.com/wp-content/uploads/2019/02/our-vision-icon-png-8.png" width="150" height="150">
                    </div>
                    <div style="padding-bottom: 5%;">
                        <h3>Our Vision</h3>
                        <p>To establish KoolSmartLearning.com as the best e-Learning platform to enable student fraternity to enrich
                             their knowledge.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="padding: 5%;">
                        <img src="https://www.koolsmartlearning.com/wp-content/uploads/2019/02/misson.png" width="150" height="150">
                    </div>
                    <div style="padding-bottom: 5%;">
                        <h3>Our Mission</h3>
                        <p>Our mission is to make an easy education dream a reality. We want to see today's students become tomorrow's 
                            leaders by enabling them to reach those heights that they are capable of.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="testimonial-diff text-center" style="background-image: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);">
    <div class="container-testimonial" >

        <div class="heading white-heading" style="color: white;">
            <h2>Our Testimonials</h2>
        </div>
        <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
         
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="testimonial4_slide">
                        <p>I want to congratulate you on doing such amazing work.. Your video solutions has been of great help to us</p>
                        <h4>Rupinder Kohli</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <p>Your solution videos are great. I saw a few videos on Aryabhatta class 8 exam solutions and they are quite impressive.</p>
                        <h4>Aashish Jain</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <p>Thank you for sharing Aryabhatta previous year question papers and answer key along with solution videos. This whole stuff have proved to be very useful for me as my kids are also appearing for this exam this year.</p>
                        <h4>Monika Jindal</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <p>Thanks.This helped me a lot.</p>
                        <h4>Preety Shrivastava</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <p>Thank you for posting the videos of solutions, it is of great help. Many of friends didn't know about it and I shared this great resource with them.</p>
                        <h4>Smriti Adlakha</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
            
                        <p>Thanks for the valuable tips. I would also like to mention that I have gone through your videos and find them very good. You are doing great service! Thank you very much again!</p>
                        <h4>Arun Gupta</h4>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>

<div class="wrapper">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-weight: bold; padding-top: 3%;">WHAT WE DO</h1>
                    <p>E-learning – Video based learning and webinars on high demand topics.</p>
                    <ul style="padding-top: 2%;">
                        <li style="padding-bottom: 2%;">We enable aspiring students to enrich their knowledge through core concept based videos created on various topics</li>
                        <li style="padding-bottom: 2%;">We provide flexibility to learn at their convenient time and calibrate themselves by solving multiple level questions on each topic</li>
                        <li style="padding-bottom: 2%;">We are the pioneers in providing Answer Keys and solutions for prestigious Aryabhatta exam</li>
                        <li style="padding-bottom: 2%;">Students are encouraged to suggest topic for required webinars</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>

</body> 
</html>  