<%- include('partials/header') %>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img src="https://www.koolsmartlearning.com/wp-content/uploads/2018/11/banner-image2.jpg" alt="koolsmartlearning image" class="studyingImg">
        </div>
    </div>
</div>

<h2 style="text-align: center; padding-top: 4%;padding-bottom: 2%; color: #ebb223;">Learning is a continuous process that extends beyond the standard formal setup.</h2>

<div class="row" style="padding-bottom: 2%;">
    <div class="col-md-3">
        <img class="center" src="https://www.koolsmartlearning.com/wp-content/uploads/2019/05/AryabhattaStencilPic3.png">
        <h1 style="text-align: center; color: #ebb223;">141</h1>
        <p style="text-align: center;">Aryabhatta Solutions</p>
    </div>
    <div class="col-md-3">
        <img class="center" src="https://www.koolsmartlearning.com/wp-content/uploads/2019/02/subscribe.png">
        <h1 style="text-align: center; color: #ebb223;">992</h1>
        <p style="text-align: center;">YouTube Subscribers</p>
    </div>
    <div class="col-md-3">
        <img class="center" src="https://www.koolsmartlearning.com/wp-content/uploads/2019/02/play.png">
        <h1 style="text-align: center; color: #ebb223;">333</h1>
        <p style="text-align: center;">Total Videos</p>
    </div>
    <div class="col-md-3">
        <img class="center" src="https://www.koolsmartlearning.com/wp-content/uploads/2019/02/views.png">
        <h1 style="text-align: center; color: #ebb223;">130098</h1>
        <p style="text-align: center;">Video Views</p>
    </div>
</div>

<div class="row" style="padding: 2%;">
 <ul class="cards">
     <div class="col-md-4">
    <li class="cards__item">
      <div class="card1">
        <div class="card__image card__image--1"></div>
        <div class="card__content">
          
          <p class="card__text">At KoolSmartLearning, we believe in learning that’s available anytime and anywhere. </p>
        </div>
      </div>
    </li>
</div>
<div class="col-md-4">
    <li class="cards__item">
      <div class="card1">
        <div class="card__image card__image--2"></div>
        <div class="card__content">
         
          <p class="card__text">To make it possible, we bring video sessions to your door-step.</p>
        </div>
      </div>
    </li>
</div>
<div class="col-md-4">
    <li class="cards__item">
      <div class="card1">
        <div class="card__image card__image--3"></div>
        <div class="card__content">
          <p class="card__text">We focus on education which relates with real life application rather than theoretical concepts.</p>
        </div>
      </div>
    </li>
</div>
  </ul>
</div>


    <u><h1 style="text-align: center; padding: 2%;">Our Journey</h1></u>
    <p style="text-align: center; font-size: x-large;padding-left:4%;padding-right:4%;padding-bottom:4%;">We started our journey with the idea of enabling students to utilize their potential to the fullest and with the ease of the latest technology. We continue to evolve and cover the ground as we move forward.</p>



<%- include('partials/footer') %>

</body> 
</html>  