<%- include('partials/header') %>

<div class="jumbotron jumbotron-fluid heading-container">
    <div class="container-fluid">
        <h1>MATHS BY TOPIC</h1>
    </div>
</div>
<div class="container">
    
    <div class="row">
        <div class="col-md-2">
            <div class="sidenav">
                <p class="topicHeading" style="color: blue;">TOPICS</p>
                <div class="forTopics">
                    <% topics.forEach(function(topic){ %>
                        <a class="topic"><%=topic%></a>
                        <hr>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <u><h1 id="topicName">Hi theree</h1></u>
            <h2 id="numberOfVideos">123</h2>
            <input type="hidden" id="preselectedTopic" value="<%=preselectedTopic%>">
            <div class="row" id="videos">      
            </div>
    </div>
</div>
</div>







<%- include('partials/footer') %>
<script src="js/mathsByTopic.js"></script>

</body> 
</html>  