<%- include('partials/header') %>

<div class="jumbotron jumbotron-fluid heading-container">
    <div class="container-fluid">
        <h1>OUR EXPERTS</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card-expert">
                <div class="card-expert_profile_img">
                    <img style="border-radius: 50%;" src="https://www.koolsmartlearning.com/wp-content/uploads/2019/02/img2-550x550.png" height="200px" width="200px">
                </div>
                
                <div class="card_content">
                  <h2 style="font-weight: bold;">Ritu Gupta</h2>
            
                    <p>Ritu Gupta is the Founder of KoolSmartLearning.com, an online learning website.
                       She is an Electronics Engineer and an enthusiastic educator.</p>
                    <p>After completing her Engineering from Punjab Engineering College, Chandigarh in 1996,
                       she worked with various organizations like Semiconductor Complex Limited, Motorola & Freescale 
                       for more than 15 years.</p>     
                    <p>She has always had a keen interest in solving higher level problems in Mathematics & Mental Ability. She felt the need to come up with ways of teaching Mathematics/MAT,
                         or any other subject for that matter, by relating it to real-life so that students can develop the interest for the subjects. When she met students lacking this 
                         connection between the subject and real-life application, she developed an interest for venturing as an educator.</p>
                     <p>She is committed to making learning easy and accessible to student fraternity. Coming from Engineering background
                         , she always wanted to use the latest technology to make it possible. In an effort to provide an easy learning 
                         option to the student fraternity, 
                         she conceptualized the idea of the online learning portal, <strong>KoolSmartLearning.com</strong>.</p>    
                </div>
               
              </div>
        </div>
        <div class="col-md-6">
            <div class="card-expert">
                <div class="card-expert_profile_img">
                    <img style="border-radius: 50%;" src="https://www.koolsmartlearning.com/wp-content/uploads/2018/10/img1-550x550.png" height="200px" width="200px">
                </div>
                
                <div class="card_content">
                  <h2 style="font-weight: bold;">Babita</h2>
            
                    <p>Babita is an Architect and a passionate educator.</p>
                    <p>She completed her B.Arch from Chandigarh College of Architecture, Chandigarh in 1992 and worked with an established Architecture firm for a few years. 
                         She started as an educator with a coaching institute and then started her own coaching classes. She has a rich experience of more than ten years as an educator and mentor.
                          She is excellent at solving complex problems in Mathematics & MAT. She loves socializing, reading motivational books and working on fitness. Besides these, solving brain-teasers 
                          and mind puzzles like Sudoku is also her favourite leisure time activity.</p>     
                    <p>With her interest and vast experience as an educator, she adds value to the students across the globe through<strong> KoolSmartLearning.com</strong> , the online learning portal.</p>
                        
                </div>
               
              </div>
        </div>
    </div>


</div>
<%- include('partials/footer') %>

</body> 
</html>  