<%- include('partials/header') %>


<div class="jumbotron jumbotron-fluid heading-container">
    <div class="container-fluid">
        <h1>TESTIMONIALS</h1>
    </div>
</div>
<div class="testimonials text-center">


    <div class="container" style="padding-top: 0%; padding-bottom: 0%;">
        
      <div class="row">
        <div class="col-md-6 col-lg-4" style="background-color: #ef5350;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">My son watched the solution video. He was praising your way of solution.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Bindia</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4"  style="background-color: #d26;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">I want to congratulate you on doing such amazing work.. Your video solutions has been of great help to us</p>
              <footer class="blockquote-footer"><cite title="Source Title">Rupinder Kohli</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="background-color: #ab47bc;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Your solution videos are great. I saw a few videos on Aryabhatta class 8 exam 
                  solutions and they are quite impressive.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Aashish Jain</cite></footer>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4" style="background-color: #42a5f5;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Thank you for sharing Aryabhatta previous year question papers and answer 
                  key along with solution videos. This whole stuff have proved to be very useful for me as my
                   kids are also appearing for this exam this year.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Monika Jindal</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="background-color: #26c6da;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Thanks.This helped me a lot.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Preety Shrivastava</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="background-color: #66bb6a;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">I found your videos for aryabhatta solutions very useful.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Monika Jindal</cite></footer>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4" style="background-color: #ffca28;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Thank you for posting the videos of solutions, it is of great help.
                   Many of friends didn't know about it and I shared this great resource with them.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Smriti Adlakha</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="background-color: #ff7043;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Good explanations. Please upload more videos</p>
              <footer class="blockquote-footer"><cite title="Source Title">Max BlackX</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="background-color: #ef5350;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Thanks for the valuable tips. I would also like to mention 
                  that I have gone through your videos and find them very good. You are doing great service!
                   Thank you very much again!</p>
              <footer class="blockquote-footer"><cite title="Source Title">Arun Gupta</cite></footer>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4" style="background-color: #d26;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Very nice mam . Please upload more videos related to conceptual parts
                   for class 5 students. I like your method very aptly.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Kalpana Sharma</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="background-color: #ab47bc;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">I take great pleasure to convey my gratitude for the efforts you have put to
                   provide us with aryabhatta exam sample papers along with solutions. As a keen parent, I would 
                   like to share my daughter is in class 5, and we hv started practicing your previous years 
                   question papers. It is indeed a great help for us parents.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Ajit Kaur</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="background-color: #42a5f5;"> 
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Thank you, your explanations are very helpful and easy to understand</p>
              <footer class="blockquote-footer"><cite title="Source Title">Lakshita Jain</cite></footer>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4" style="background-color: #26c6da;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Thank you so much ma'am for helping us... your videos are helping me a lot</p>
              <footer class="blockquote-footer"><cite title="Source Title">Razia Sultana Barbhuiya</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="background-color: #66bb6a;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Nice. Very informative and useful for kids.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Sanjiv Garg</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="background-color: #ffca28;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Respected Madam I really appreciate the solutions given on your website for
                   Aryabhatta previous year papers.They were really helpful to my son for preparing for this
                    exam in class 5.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Monika Gupta</cite></footer>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4" style="background-color: #ff7043;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Dear Mam! The maths videos posted by you are very useful.
                   My kids have benefitted a lot from these videos. Thank you :)</p>
              <footer class="blockquote-footer"><cite title="Source Title">Niti Bansal</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="background-color: #ef5350;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Your videos are really very good. I think you are providing very easy and quick solutions.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Sukirti Pandey</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="background-color: #d26;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Great, nobel initiative. Shall go a long way, in this virtual world.
                   Shall benefit children of all class, community in increasing their practical understanding
                    of concepts. Kudos!!!</p>
              <footer class="blockquote-footer"><cite title="Source Title">Rishabh Jain</cite></footer>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4" style="background-color: #ab47bc;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Cant thank u enough for posting the solutions for class 5 Aryabhatta...
                  its people like u who are 'Gurus' in the real sense of the word n by doing everything as a 
                  social cause u multiply the respect in my eyes...The effort put by you in solving the papers
                   is visible.the answers are so self explanatory that there is no way one won't understand the
                    solution. ..Thanx again mam for making our lives comfortable</p>
              <footer class="blockquote-footer"><cite title="Source Title">Khushboo Verma Chopra</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="background-color: #42a5f5;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">I went to your website and noticed that the answer keys for Class V Arybhatta
                   papers were available for last 2 years.Thanks a lot for that. It will really help</p>
              <footer class="blockquote-footer"><cite title="Source Title">Sameer Gupta</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="background-color:  #26c6da;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Mam I have seen your maths video on youtube. Its good and worthful</p>
              <footer class="blockquote-footer"><cite title="Source Title">Sarika Sharma</cite></footer>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4" style="background-color:  #66bb6a;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Its very nice and very informative</p>
              <footer class="blockquote-footer"><cite title="Source Title">Pankaj Gupta</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="background-color:  #ffca28;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Superb mam ! Thank you</p>
              <footer class="blockquote-footer"><cite title="Source Title">Amit Mb</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" style="background-color:  #ff7043;">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Amazing video Anil and Ritu. My 8th grader is learning a lot from your amazing videos</p>
              <footer class="blockquote-footer"><cite title="Source Title">Anuj Goswami</cite></footer>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum enim eu nibh finibus</p>
              <footer class="blockquote-footer"><cite title="Source Title">Mohamed Nady</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum enim eu nibh finibus</p>
              <footer class="blockquote-footer"><cite title="Source Title">Mohamed Reda</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum enim eu nibh finibus</p>
              <footer class="blockquote-footer"><cite title="Source Title">Mohamed Atef</cite></footer>
            </div>
          </div>
        </div>
      </div> -->


    </div>

  </div>

  <div style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20190822/pngtree-back-to-school-day-linear-stick-study-life-sticker-blackboard-background-image_303797.jpg'); padding: 2%;">
  <div class="container card message-container " style="width: 50%; margin: 0 auto; ">
    <h1 class="message-title">Please Give Us Your Feedback</h1>
  
    <form action="mailto:ritu.gupta@koolsmartlearning.com" method="post" autocomplete="off">
  
      <label for="name" class="name">Name</label>
      <input class="name" type="text" name="name" placeholder="Enter Your Name" required>
      <!-- <input class="last-name" type="text" name="last-name" placeholder="Last Name" maxlength="20"> -->

      <label for="email" class="email">Email Id</label>
      <input type="email" name="email" placeholder="Enter Your Email" required>
  
      <label for="message" class="message">Message</label>
      <textarea name="message" cols="30" rows="7" required maxlength="500"  placeholder="Enter Your Message" required></textarea>
  
      <p class="button-container">
        <input class="button" type="submit" value="Send">
      </p>
    </form>
  </div>
    </div>

  <%- include('partials/footer') %>
  
</body> 
</html>  